@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Jua&family=Noto+Serif+KR:wght@600&display=swap');
@import '../scss/_variables.scss';
$desktop: "(min-width: 992px) and (max-width: 1215px)";

.side_map{
    display: flex;
    height: 680px;
}

.kmap{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    #con1{
        display: flex;
        gap: 10px;
        width: 160px;
        height: 50px;
        margin-left: 10px;
        span{
            font-size: 30px;
            margin-top: 39px;
        }
        #tit{
            font-size: 30px;
            font-family: $logo-font;
            margin-top: 40px;
            height: 80px;
        }
    }

    #maps {
        width: 460px;
        height: 400px; 
        // margin-left: 13px;
        margin-top: 50px;
        @media #{$desktop} {
            width: 700px;
            margin-left: 50px;
        }
    }

    .address {
        margin-left: 30px;
        margin-top: 90px;
        width: 470px;
        .title{
            display: flex;
            gap: 6px;
            font-size: 19px;
            color: #919090;
            #title{
                font-family: $logo-font;
            }
        }
        #line{
            border: 1px solid #d4d4d4;
            width: 345px;
            height: 0.5px;
            margin-top: 9px;
            margin-left: 8px;
        }
        #line1{
            border: 1px solid #d4d4d4;
            width: 350px;
            height: 0.5px;
            margin-top: 9px;
            margin-left: 8px;
        }
        #fill{
            font-family: $list-font;
            font-weight: bold;
            font-size: 16px;
            color: rgb(0, 0, 0);
        }
    
    }

}


