@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Jua&family=Noto+Serif+KR:wght@600&display=swap');
@import '../scss/_variables.scss';

.side_map{
    display: flex;
    height: 950px;
}

#address{
    margin-left: 100px;
    margin-top: 20px;
}

.kmap{

    #maps {
        width: 900px;
        height: 400px; 
        margin-left: 100px;
        margin-top: 70px;
    }

    #address {
        
        .tab{
            margin-top: 20px;
            width: 900px;
            height: 120px;
            text-align: center;
            th{
                padding: 10px;
                vertical-align: middle;
                text-align: center;
                width: 150px;
                background-color: rgb(191, 198, 240);
                font-weight: normal;
            }
        
            #t_bg{
                background-color: rgb(231, 231, 231);
                padding: 10px;
            }
        
            td{
                border-bottom: 1px solid #e9e9e9;
                padding: 10px;
            }
        
            #t_form{
                text-align: left;
            }
        }

    }

}


