@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Jua&family=Noto+Serif+KR:wght@600&display=swap');
@import '../scss/_variables.scss';
$desktop: "(min-width: 992px) and (max-width: 1215px)";

.side_map{
    display: flex;
    height: 890px;
}

.kmap{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    #con1{
        display: flex;
        gap: 10px;
        width: 160px;
        height: 50px;
        margin-left: 13px;
        @media #{$desktop} {
            width: 500px;
        }
        span{
            font-size: 30px;
            margin-top: 39px;
        }
        #tit{
            font-size: 30px;
            font-family: $logo-font;
            font-weight: 900;
            margin-top: 40px;
            height: 80px;
            @media #{$desktop} {
                font-size: 28px;
            }
        }
    }

    #maps {
        width: 500px;
        height: 400px; 
        margin-left: 13px;
        margin-top: 50px;
        @media #{$desktop} {
            width: 700px;
            margin-left: 50px;
        }
    }

    .address {
        margin-left: 60px;
        margin-top: 80px;
        width: 550px;
        .title{
            display: flex;
            gap: 5px;
            font-size: 19px;
            color: #71719e;
            font-weight: bold;
            #title{
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        #line{
            border: 1px solid #71719eae;
            width: 400px;
            height: 0.5px;
            margin-top: 9px;
            margin-left: 8px;
        }
        #fill{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 15px;
            color: rgb(0, 0, 0);
        }
    
    }

}


