@import '../scss/_variables.scss';
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.f{
    width: 100%;
    height: 200px;
    background-color: #fafafa;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    p{
        line-height: 1.8;
    }
}

#copyright{
    font-size: 10px;
    text-align: center;
}

