@import '../scss/_variables.scss';
@font-face {
    font-family: 'NanumSquareR';
    src: url('../plugins/themify-icons/fonts/NanumSquare/NanumSquareR.woff2') format('woff2'), 
        url('../plugins/themify-icons/fonts/NanumSquare/NanumSquareR.woff')format('woff');
}

.f{
    font-family: 'NanumSquareR';
    width: 100%;
    height: 200px;
    background-color: #fafafa;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    p{
        line-height: 1.8;
    }
}

#copyright{
    font-size: 10px;
    text-align: center;
}

