/* footer.css */
@import '../scss/_variables.scss';
$desktop: "(min-width: 992px) and (max-width: 1215px)";

footer{
    height: 220px;
    width: 100%;
    background-color: $back-color;
    color: rgb(184, 184, 184);
    position: absolute;
    bottom: 0;
    .f_logo{
        height: 40px;
        display: flex;
        gap: 73%;
        color: rgb(219, 219, 219);
        a{
            padding: 20px 0 0 30px;
            font-size: 30px;
            font-weight: 600;
            cursor: pointer;
            text-decoration: none;
            color: rgb(219, 219, 219);
            font-family: $logo-font;
            @media #{$desktop} {
                padding: 20px;
            }
        }
        div{
            display: flex;
            gap: 5px;
        }
        img{
            margin-top: 15px;
            width: 30px;
            height: 30px;
            transform: rotate(30deg);
        }
        #tel{
            margin-top: 15px;
            text-align: right;
            font-size: 25px;
            font-family: $logo-font;
            @media #{$desktop} {
                padding-right: 10px;;
            }
        }
    }
    
    .content{
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
        p{
            line-height: 1.8;
        }
    }

    #copyright{
        font-size: 10px;
        text-align: center;
    }
}