/* footer.css */
@import '../scss/_variables.scss';
$desktop: "(min-width: 992px) and (max-width: 1215px)";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer{
    height: 60px;
    width: 100%;
    background-color: $back-color;
    color: rgb(184, 184, 184);
    position: fixed;
    bottom: 0;
    z-index: 10;

    .f_logo{
        position: absolute;
        color: rgb(219, 219, 219);
        .f_img{
            width:120px;
            height: 38px;
            margin: 13px 0 0 45%;
        }
        
    }

    div{
        #tel{
            color: rgb(219, 219, 219);
            margin-top: 20px;
            text-align: right;
            margin-right: 4%;
            font-size: 20px;
            font-family: 'GmarketSansMedium ';
            font-weight: 900;
        }
    }
}