@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Jua&family=Noto+Serif+KR:wght@600&display=swap');
@import '../scss/_variables.scss';
$desktop: "(min-width: 992px) and (max-width: 1215px)";

.content{
    flex: 1;
    overflow: hidden;
    margin: 0 auto;

    .contact{
        height: 680px;
        margin-top: 150px;
    }
}
