@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Jua&family=Noto+Serif+KR:wght@600&display=swap');
@import '../scss/_variables.scss';
$desktop: "(min-width: 992px) and (max-width: 1215px)";
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../plugins/themify-icons/fonts/NanumSquare/NanumSquareEB.woff2') format('woff2'), 
        url('../plugins/themify-icons/fonts/NanumSquare/NanumSquareEB.woff')format('woff');
}
.content{
    flex: 1;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;

    .back_img{
        width: 100%;
        height: 350px;
        img{
            width: 100%;
            height: 350px;
        }
        h3{
            font-family: 'NanumSquareEB';
            margin: -200px auto;
            color: white;
            text-align: center;
            font-size: 100px;
            text-shadow: 5px 5px 2px #0000005b;
        }
    }
    .contact{
        margin-top: 40px;
        margin-bottom: 50px;
        .title{
            color: #15137C;
            margin-left: 155px;
            font-family: 'NanumSquareEB';
            margin-bottom: 30px;
            font-size: 20px;
            margin-top: 30px;
        }

        .factory{
            #logo_title{
                margin-left: 190px;
                display: flex;
                #logo_s{
                    height: 25px;
                    width: 25px;
                }
            }
            h3{
                margin-left: 5px;
                margin-top: 5px;
                font-family: 'NanumSquareR';
            }
            .fac{
                margin: 10px 160px;
                border-top: 2px solid #d4d4d4;
                padding: 10px 30px;
                a{
                    display: inline-block;
                    margin: 10px 5px;
                    border: 1px solid #d4d4d4;
                    padding: 4px 4px;
                    width: 255px;
                    height: 230px;
                }

            }
        }

        .product_1,
        .product_2{
            margin-top: 15px;
            #logo_title{
                margin-left: 190px;
                display: flex;
                #logo_s{
                    height: 25px;
                    width: 25px;
                }
            }

            h3{
                margin-left: 5px;
                margin-top: 5px;
                font-family: 'NanumSquareR';
            }
            .prod{
                margin: 10px 160px;
                // border-bottom: 1px solid #d4d4d4;
                border-top: 2px solid #d4d4d4;
                padding: 10px 30px;
                a{
                    display: inline-block;
                    margin: 10px 5px;
                    border: 1px solid #d4d4d4;
                    padding: 4px 4px;
                    width: 255px;
                    height: 230px;
                }
            }
        }
    }
}
