@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import '../scss/_variables.scss';

.side_come{
    display: flex;
    height: 720px;
    width: 100%;
    margin: 0 150px;
    .product{
        margin-top: 50px;
        height: 770px;
        margin: 50px 160px;
    }
    .Side{
        margin-top: 50px;
    }
}

.box{
   width: 890px;
   height: 890px;
   
   .pr_img{
       width: 640px;
       height: 260px;
   }

   .pr_img_r{
    width: 640px;
    height: 260px;
}

   .pr_fill{
        display: flex;
        flex-flow:column wrap;
        gap: 20px;
        width: 550px;
        pre{
            font-family: $list-font;
            font-size: 17px;
            line-height: 2.5rem;
            #pr_div{
                margin-left: 60px;
                line-height: 2rem;
                margin-top: -34px;
            }

        }
        
   }

   .pr_fill2{
        display: flex;
        gap: 15px;
        flex-wrap:column wrap;
        height: 500px;
        .pm_1{
            width: 210px;
            height: 195px;
        }
        .pm_2{
            width: 210px;
            height: 400px;
        }
        .pm_3{
            width: 210px;
            height: 190px;
        }
        .pm_4{
            width: 210px;
            height: 400px;
        }

        .rc_1{
            width: 210px;
            height: 190px;
        }
        .rc_2{
            width: 210px;
            height: 190px;
        }
        .rc_3{
            width: 210px;
            height: 190px;
        }
   }
}
