@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import '../scss/_variables.scss';

.p_title_back{
    height: 400px;
    position: relative;
    .p_img{
        height: 100%;
        img{
            width: 100%;
            height: 400px;
            filter: brightness(50%);
        }
    }
    .p_text{
        color: white;
        font-size: 100px;
        font-weight: 900;
        font-family: $title-font;
        text-align: center;
        position: absolute;
        top: 40%;
	    left: 40%;

        #p_p {
            font-size: 30px;
            font-weight: 400;
        }
    }
}

.side_come{
    display: flex;
    height: 680px;
    width: 100%;
    .product{
        margin-top: 150px;
        height: 400px;
    }
    .Side{
        margin-top: 150px;
    }
}

.box{
   width: 890px;
   height: 890px;
   margin-left: 65px;
   
   .pr_img{
       width: 390px;
       height: 350px;
   }

   .pr_fill{
        display: flex;
        gap: 40px;

        pre{
            font-family: $list-font-bold;
            font-size: 18px;
        }
        
   }

   .pr_fill2{
        display: flex;
        gap: 15px;
        width: 800px;
        flex-flow:column wrap;
        align-content: space-around; 
        flex-wrap:wrap;
        height: 400px;
        margin-left: 15px;
        .pm_1{
            width: 350px;
            height: 180px;
        }
        .pm_2{
            width: 230px;
            height: 350px;
        }
        .pm_3{
            width: 200px;
            height: 155px;
        }
        .pm_4{
            width: 230px;
            height: 350px;
        }

        .rc_1{
            width: 350px;
            height: 350px;
        }
        .rc_2{
            width: 350px;
            height: 350px;
        }
   }
}
