@import "../scss/variables";

.Side{
    margin-top: 90px;
    p{
        margin-left: 15px;
        width: 150px;
        color: black;

    }
    a:nth-child(1) p {
        font-size: 23px;
        font-family: $list-font-bold;
        height: 40px;
    }

    a:nth-child(n+2) p {
        margin: 15px;
        border-left: 5px solid $back-color;
        margin-left: 50px;
        font-family: $list-font;
        padding-top: 5px;
        height: 30px;
    }

    a {
        text-decoration: none;
        
    }
}

.sidebar-item{
    width: 250px;
    text-align: center;
    font-size: 19px;
    :hover{
    }
}